<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Writer</title>

    {% stylesheets
        '@Kamikaze3WriterFrontendBundle/Resources/public/vendor/fontawesome/css/font-awesome.min.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets '@Kamikaze3WriterFrontendBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>
<body ng-app="writer">
    <div ng-view></div>

    {% javascripts
        '@Kamikaze3WriterFrontendBundle/Resources/public/vendor/angular/angular.min.js'
        '@Kamikaze3WriterFrontendBundle/Resources/public/vendor/angular-resource/angular-resource.min.js'
        '@Kamikaze3WriterFrontendBundle/Resources/public/vendor/angular-route/angular-route.min.js'
        '@Kamikaze3WriterFrontendBundle/Resources/public/vendor/angular-local-storage/dist/angular-local-storage.min.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@Kamikaze3WriterFrontendBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</body>
</html>
