<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Writer</title>

    {% stylesheets '@Kamikaze3WriterFrontendBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>
<body>

    Frank is a penis

    {% javascripts '@Kamikaze3WriterFrontendBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</body>
</html>
